header,
section {
    margin: 10px;
}

.button_filter {
    color: white;
    background-color: cadetblue;
    border-style: none;
    border-radius: 5px;
    font-weight: bold;
    padding: 7px;
    cursor: pointer;
}

.class {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.button_filter.active {
    background-color: #666;
    color: white;
}

.gallery_content{
    display: none;
}

.show {
    display: table-cell;
}