/* navigation */

nav {
    display: flex;
    justify-content: space-between;
}

#brandLogo {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

#brandLogo img {
    height: 50px;
    width: auto;
}

#brandLogo span {
    margin-left: 10px;
    font-size: large;
    font-weight: bold;
}

#menuList {
    margin-right: 20px;
}

#menuList ul {
    list-style: none;
    display: inline-flex;
}

#menuList ul a {
    text-decoration: none;
    color: black;
}

#menuList ul li {
    margin-left: 30px;
    font-size: large;
}


/* header - slideshow */

* {
    box-sizing: border-box
}

body {
    margin: 0
}

.mySlides {
    display: none
}

.slideshow-image {
    height: 300px;
    vertical-align: middle;
    width: 100%;
    object-fit: cover;
}

/* Slideshow container */
.slideshow-container {
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}

#section-latest_information-wrapper {
    display: flex;
    align-items: center;
}

#section-latest_information {
    display: flex;
    overflow-x: hidden; /* Change to hidden to prevent showing duplicate cards */
    width: 100%;
    max-width: 100%;
    padding: 0 10px;    
    scroll-behavior: smooth; /* Smooth scrolling */
}

.card {
    width: 25%;
    box-shadow: 3px 5px lightslategray;
    margin: 5px;
    border: 1px solid;
    flex: 0 0 calc(33.33% - 20px);
    margin: 10px;
    box-sizing: border-box;
}

.scroll-button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

#section-latest_information::-webkit-scrollbar {
    display: none;
}

#section-latest_information {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.card_image {
    background-image: url("../../resources/images/image3.jpg");
    background-size: cover;
    height: 200px;
}

.card_body,
.card_footer {
    padding: 5px;
}

.card_body .card_text-date {
    display: flex;
    justify-content: end;
    font-size: 11px;
    color: grey;
}

.card_footer {
    display: flex;
    justify-content: end;
}

.card_button {
    background-color: blue;
    color: white;
    border-radius: 10px;
    border-style: none;
    padding: 10px;
    font-weight: bold;
}

#section-facilities{
    background-color: #F0F0F0;
    margin-top: 2%;
    display: flex;
    justify-content: space-around;
}

.facilities{
    width: 20%;
    text-align: center;
}

.img-facility{
    height: 100px;
    width: auto;
}

footer {
    margin-top: 5%;
    background-color: black;
    color: white;
    padding: 15px;
    display: flex;
    /* margin-left: -20px;
    margin-right: -20px;
    margin-bottom:-20px; */
}

.footer_info {
    width: 30%;
    /* margin-right: 3%; */
}

.footer_info ul li {
    list-style: none;
}

.footer_info ul li .footer_icon_image {
    width: 40px;
    height: 40px;
    margin: 5px;
}

.connect_with_us ul li {
    display: inline;
}